<div class="chat-head">
 <div class="Left-head">
  <div class="room-name">
    hogefuga
  </div>
 </div>
 <div class="right-head">
  <div class="room-end">
    <a href="#">チャットを終了する</a>
  </div>
  </div>
</div>

<div class="chat-main">
  <div class="message">
    <div class="message-new">
      <div class="message-user">
      Tom
      </div>
      <div class="message-date">
      2020/3/31 (Wed) 12:43:30
      </div>
    </div>
      <div class="lower-message">
        <div class="message-text">
        おはよう
        </div>
      </div>
  </div>
  <div class="message">
    <div class="message-new">
      <div class="message-user">
      Tom
      </div>
      <div class="message-date">
      2020/3/31 (Wed) 12:47:30
      </div>
    </div>
      <div class="lower-message">
        <div class="message-text">
        こんばんわ
        </div>
      </div>
  </div>
</div>

<div class="chat-bottom">
  <div class="chat-form">
  <input class="input-message" type="text" name="commit" placeholder="type a message">
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-message" type="submit" value="送信">
</div>